In [1]:
from bs4 import BeautifulSoup ## BeautifulSoup is used for parsing HTML and XML data.
import requests # The requests library is used to send HTTP requests to web servers.

In [2]:
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [8]:
table = soup.find_all('table')[1]

In [9]:
tableheadings = table.find_all('th')
print(tableheadings)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [10]:
tableheadingsclean = [heading.text.strip() for heading in tableheadings]

print(tableheadingsclean)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [11]:
import pandas as pd
df = pd.DataFrame(columns = tableheadingsclean)

In [12]:
tablerows = table.find_all('tr')[1:]

In [13]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [14]:
for row in tablerows:
    row_data = row.find_all('td')
    cleanrow_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = cleanrow_data

In [89]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,General merchandisers,"572,754",2.4%,"2,300,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"469,822",21.7%,"1,608,000","Seattle, Washington"
2,3,Apple,Electronics industry,"365,817",33.2%,"154,000","Cupertino, California"
3,4,CVS Health,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island"
4,5,UnitedHealth Group,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
195,96,General Dynamics,Airspace and defense,"38,469",8.7%,"103,100","Reston, Virginia"
196,97,CHS,Agriculture cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota"
197,98,USAA,Financials,"37,470",3.2%,"37,335","San Antonio, Texas"
198,99,Northwestern Mutual,Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin"
199,100,Nucor,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina"

In [17]:
df.to_csv(r'F:\webscraping\USLargestCompanies.csv', index = False)